HELP.md
target/
!.mvn/returnWrapper/maven-returnWrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
rebel.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### maven ###
.mvn
*.war
*.ear
*.zip
*.tar
*.tar.gz

### gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar


### logs ####
/logs/
*.log

### temp ignore ###
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

### web ###
node_modules
.DS_Store
**/docker/jar/
